#insta {
    background-color: $background-color-dark;
}
.insta-feed {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    overflow: hidden;
    border: 2px solid $highlight;
    align-items: center;
    justify-content: center;
    /* You can set flex-wrap and
      flex-direction individually */
    flex-direction: row;
    flex-wrap: wrap;
    /* Or do it all in one line
     with flex flow */
    flex-flow: row wrap;
    /* tweak where items line
      up on the row
      valid values are: flex-start,
      flex-end, space-between,
      space-around, stretch */
    align-content: flex-end;

    .insta-feed-post {
        min-width: 300px;
        flex-grow: 1;
        position: relative;
    }

    .insta-image {
        max-height: 100%;
        min-width: 100%;
        max-width: 300px;
        object-fit: cover;
        vertical-align: bottom;
    }

    .overlay {
        z-index: 500;
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $background-color-dark;
        opacity: 0;
        top: 0;
        left: 0;
        transition: 0.5s ease;
        justify-content: center;
        align-items: center;
        color: $font-color-light;
        font-size: 150%;
        padding: 15px;
    }

    .insta-feed-post:hover .overlay {
        opacity: 0.85;
    }
}
