/*
Color scheme
*/
$first-color:             #2bc46d;
$second-color:            #272d2d;
$third-color:             #4870a7;
$highlight:               #ffffff;

$background-color-light:  #f7f6f6;
$background-color-dark:   #272d2d;

$font-color-dark:         #272d2d;
$font-color-light:        #ffffff;
$link-color-dark:         #2f3f57;
$link-color-light:        #ffffff;

$border-separators:         $first-color;
$menu-bars:                 $second-color;
$menu:                      $first-color;

$title-text-shadow:         2px 2px 0 $third-color;
$title-color:               $highlight;

$content-width:             1460px;

/*
Recurring effects
*/
$box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);

/*
Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Permanent+Marker&family=Fascinate&display=swap');
$headline_font:     'Permanent Marker', cursive;
$text_font:         'New Tegomin', serif;
$display_font:      'Fascinate', cursive;

/*
Components
*/
@import "./site/index";
@import "./site/responsiveness";
@import "./site/site";
@import "./components/breadcrump";
@import "./components/content_image";
@import "./components/content";
@import "./components/footer";
@import "./components/grid";
@import "./components/header";
@import "./components/homebutton";
@import "./components/instagram";
@import "./components/layout";
@import "./components/sidebar";
@import "./components/slideshow";
@import "./components/socialicons";


/*
Site specific
*/
em {
    background-color: $first-color;
    font-style: normal;
    display: inline-block;
    padding: 0 2px;
    color: $highlight;
}