/*
Color scheme
*/
$first-color:             #ff6978;
$second-color:            #12355b;
$third-color:             #4870a7;
$highlight:               #ffffff;

$background-color-light:  #f7f6f6;
$background-color-dark:   #272d2d;

$font-color-dark:         #272d2d;
$font-color-light:        #ffffff;
$link-color-dark:         #2f3f57;
$link-color-light:        #ffffff;

$border-separators:         $second-color;
$menu-bars:                 $second-color;
$menu:                      $first-color;

/*
Recurring effects
*/
$box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);

/*
Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:wght@400;700&display=swap');
$headline_font:     'Roboto', sans-serif;
$text_font:         'Noto Sans JP', sans-serif;

/*
Components
*/
@import "scss/site/index";
@import "scss/site/responsiveness";
@import "scss/site/site";
@import "scss/components/layout";
@import "scss/components/footer";
@import "scss/components/sidebar";
@import "scss/components/content";
@import "scss/components/header";
@import "scss/components/instagram";