/*
Color scheme
*/
$first-color:             #ff6978;
$second-color:            #12355b;
$highlight:               #ffffff;

$background-color-light:  #f7f6f6;
$background-color-dark:   #272d2d;

$font-color-dark:         #272d2d;
$font-color-light:        #ffffff;
$link-color-dark:         #2f3f57;
$link-color-light:        #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

@import "scss/site/index";
@import "scss/site/site";
@import "scss/components/layout";
@import "scss/components/footer";
@import "scss/components/header";
@import "scss/components/instagram";