#footer {
    background-color: $first-color;
    border-top: 10px solid $second-color;
    border-bottom: 10px solid $second-color;
}
.footer {
    color: $font-color-light;

    a {
        color: $link-color-light;
    }
}