.content-container {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 20px;

    @include xs {
        padding: 10px;
    }
}

.content {
    flex-grow: 1;
    max-width: 1200px;
    margin: 0 auto;
}

.content.text {
    background-color: $highlight;
    box-shadow: $box-shadow;
    padding: 45px;
    border-radius: 5px;
    margin: 0px auto 20px;

    @include xs {
        padding: 15px;
    }
}
.content-wide {
    flex-grow: 1;
    max-width: 1500px;
    margin: 0 auto;
}

.content-full {
    flex-grow: 1;
    width: 100%;
    margin: 0 auto;
}