.header {
    padding: 1rem 0 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 600px;
    border-bottom: 10px solid $border-separators;

    .title {
        color: $title-color;
        font-size: 3rem;
        text-decoration: none;
        text-align: right;
        
        a {
            color: $font-color-light;
            font-size: 3rem;
            text-decoration: none;
            text-shadow: $title-text-shadow;
        }
    }
}