.overlay {
    z-index: 9998;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.sidebar {
    z-index: 9999;
    position: fixed;
    height: 100%;
    max-width: 800px;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;

    @include xs() {
        width: 100%;
    }
    @include sm() {
        width: 100%;
    }

    .close {
        position: absolute;
        right: 38px;
        top: 20px;
        z-index: 9000;
        color: $highlight;
        font-size: 45px;
        cursor: pointer;
        font-weight: normal;

        @include xs() {
            top: auto;
            bottom: 35px;
        }
    }

    .sidebar_nav {
        width: 56%;
        position: absolute;
        height: 100;
        background-color: $first-color;
        top: 0;
        left: 0;
        bottom: 0;

        @include xs() {
            width: calc(100% - 100px);
        }

        .logo {
            display: block;
            width: 250px;
            margin: 25px auto;
        }

        a {
            font-family: $headline_font;
            color: $highlight;
            display: block;
            text-decoration: none;
            text-indent: 20%;
            font-size: 1.35em;
            min-height: 40px;
        }

        a.active {
            color: $second-color;
        }

        a:hover {
            color: $third-color;
        }
    }

    .sidebar_mood {
        width: 44%;
        position: absolute;
        height: 100;
        background-color: $background-color-dark;
        top: 0;
        right: 0;
        bottom: 0;
        color: $font-color-light;
        padding: 40px;

        @include xs() {
            width: 100px;
            padding: 8px;
            padding-top: 40px;

            h3 {
                font-size: 18px;
            }
        }

        .mood {
            display: block;
            height: 22%;
            width: 100%;
            background-size: cover;
            position: relative;
            border: 2px solid $highlight;
            color: $link-color-light;
            margin-bottom: 20px;

            @include xs() {
                max-height: 60px;
                border: 1px solid $highlight;
            }

            div {
                position: absolute;
                bottom: 10px;
                right: 10px;
                background-color: $first-color;
                opacity: 0.8;
                padding: 0 4px;

                @include xs() {
                    display: none;
                }
            }
        }
    }

    img {
        width: 250px;
        margin: 0 auto;
    }

    ul li {
        display: block;
    }
}
