/*
Color scheme
*/
$first-color:             #63a583;
$second-color:            #2f4c58;
$third-color:             #6e93d6;
$highlight:               #ffffff;

$background-color-light:  #e4dbd9;
$background-color-dark:   #111b1e;

$font-color-dark:         #272d2d;
$font-color-light:        #ffffff;
$link-color-dark:         #2f3f57;
$link-color-light:        #ffffff;

$border-separators:         $second-color;
$menu-bars:                 $second-color;
$menu:                      $first-color;

$title-text-shadow:         2px 2px 0 $third-color;
$title-color:               $highlight;

/*
Recurring effects
*/
$box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);

/*
Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:wght@400;700&display=swap');
$headline_font:     'Roboto', sans-serif;
$text_font:         'Noto Sans JP', sans-serif;

/*
Components
*/
@import "common/styles/scss/site/index";
@import "common/styles/scss/site/responsiveness";
@import "common/styles/scss/site/site";
@import "common/styles/scss/components/layout";
@import "common/styles/scss/components/footer";
@import "common/styles/scss/components/homebutton";
@import "common/styles/scss/components/sidebar";
@import "common/styles/scss/components/content";
@import "common/styles/scss/components/header";
@import "common/styles/scss/components/instagram";